{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "env": {
    "jest": true
  },
  "rules": {
    "no-nested-ternary": "off",
    "react/jsx-filename-extension": "off",
    "comma-dangle": "off",
    "indent": "off"
  }
}
